@def LIGHT_GRAY #eee;
@def DARK_GRAY #737373;
@def WHITE #fff;
@def BLACK_TRANS_25 rgba(0, 0, 0, .25);

md-content.md-default-theme
{
    background-color: LIGHT_GRAY;
}

md-card
{
    background-color: WHITE;
}
md-card h2:first-of-type
{
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme
{
    border-radius: 99%;
}

h2
{
    font-weight: 400;
}

.md-toolbar-tools-bottom
{
    font-size: small;
}
.md-toolbar-tools-bottom :last-child
{
    opacity: .8;
}

md-toolbar:not(.md-hue-1),
.md-fab
{
    fill: WHITE;
}

md-sidenav
{
    fill: DARK_GRAY;
}

md-sidenav ng-md-icon
{
    position: relative;
    top: 5px;
}

.user-avatar
{
    border-radius: 99%;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li
{
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list]
{
    min-height: 42px;
    padding-left: 0;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource
{
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder
{
    display: block;

    min-height: 42px;

    background-color: #ddd;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li
{
    display: block;

    margin-bottom: -1px;
    padding: 10px 15px;

    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected
{
    color: #3c763d;
    background-color: #dff0d8;
}
