<!DOCTYPE html>
<html lang="en" layout-fill>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css'
    type='text/css' media='all' />
  <link rel="stylesheet" href="./ng/lib/common/advanced.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/{ANGULAR_MATERIAL_VERSION}/angular-material.min.css">
  <link rel="stylesheet" href="./ng/lib/BottomSheet/BottomSheet.css" />
  <link rel="stylesheet" href="./ng/lib/Accordion/Styles.css" />
  <link rel="stylesheet" href="./ng/pages/pages.css" />
</head>

<body ng-app="ngMApp">
  <div ui-view style="height: 100%;"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{ANGULAR_VERSION}/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{ANGULAR_VERSION}/angular-animate.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
  <script src="./ng/ext/ui-router-0.2.15/angular-ui-router.min.js"></script>
  <script src="./ng/ext/statehelper-1.3.1/statehelper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{ANGULAR_VERSION}/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/{ANGULAR_VERSION}/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/{ANGULAR_MATERIAL_VERSION}/angular-material.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
  <!--script src="./ng/AppController.js"></script-->
  <script src="./ng/Router.js"></script>
  <script src="./ng/Filters.js"></script>
  <script src="./ng/themes/{NGM_THEME}/AppColorTheme.js"></script>
  <script src="./ng/lib/Topbar/ComponentTopbar.js"></script>
  <script src="./ng/lib/Sidebar/ComponentSidebar.js"></script>
  <script src="./ng/lib/Accordion/Component.js"></script>
  <script src="./ng/lib/BottomSheet/BottomSheetComponent.js"></script>
  <script src="./ng/lib/common/BarsAndMenusControllers.js"></script>
  <script src="./ng/pages/PagesController.js"></script>
  <script src="./ng/pages/PagesServices.js"></script>
</body>
